{% extends "index.html" %}
{% block content %}
{% if message %}
        <div class="alert">{{ message }}</div>
{% else %}
    <h2>Book form</h2>
        <form method="post" enctype="multipart/form-data" action="/books/create/">
            {% csrf_token %}
            <p>title:<br> <input name="title" /></p>
            <p>description:<br> <input name="description" /></p>
            <p>pages:<br> <input name="pages" /></p>
            <p>count:<br> <input name="count" value="10"/></p>
            <input type="file" name="cover" accept="image/*"><br>
            <input type="submit" value="Send" />
        </form>

{% endif %}
{% endblock %}
