{% load static %}
<link href="{% static 'css/navbar.css' %}" rel="stylesheet" type="text/css">
{% block navbar %}
    <div class="navbar">
        <div class="navbar-selections">
            <a href="/books/" class="books">Books</a>
            <a href="/books/readers/" class="users">Users</a>
            <a href="/books/reader-card/" class="mycard">My card</a>
        </div>
    </div>
    <div class="search-bar">
        <form action="/books/search/" method="GET">
          <input type="text" name="article" placeholder="Search...">
          <button type="submit">Search</button>
        </form>
      </div>
    </div>
{% endblock %}
